doctype html
html(lang="en")
	-var pageTitl = "政见上海系列活动 · 2015 年 6 月"
	-var pageDisc = "政见 2015 年 6 月上海系列活动｜政见 CNPolitics.org｜发掘海内外研究中国政治的智慧成果，引进思想资源｜靠谱地谈论中国"
	-var pageKeyw = "政见, 政治, 政治学, 中国, CNPolitics, Chinese, politics, research, researcher, scholar, scholarship, 2015, summer, lecture, talk, Shanghai, Fudan, University"
	include _head.jade

	body.gb-punct
		.wechat-thumb(style="display:none")
			img(src="assets/wechat-thumb.jpg")
			
		.hero
			.hero-bg
			img(src="assets/logo.svg").logo

		.events-wrap
			.card-wrap.event-1
				.card
					header
						h1 如何在西方观察中国？
						p <time datetime="2015-06-18 15:00">6 月 18 日下午 3 时</time>起·复旦大学邯郸校区
					article
						include ./copy/copy1.jade
						footer
							p.share-guide 欢迎分享到微信朋友圈


			.card-wrap.event-2
				.card
					header
						h1 西方看待中国政治的洞见和偏见
						p <time datetime="2015-06-19 14:00">6 月 19 日下午 2 时</time>起·浦东新区证大立方大厦
					article
						include ./copy/copy2.jade
						footer
							p.share-guide 欢迎分享到微信朋友圈
	
			.card-wrap.event-3
				.card
					header
						h1 一对一私聊
						p 来信预约·坐标上海
					article
						include ./copy/copy3.jade
						footer
							p.share-guide 欢迎分享到微信朋友圈
		
		script(type="text/javascript" src="assets/app.js")
