.events-wrap.active {
	.card-wrap {
		z-index: 300;
		transform: translate3d(0, calc(100vh - 5.25em), 0);
	}
}

.card-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform .5s ease-in-out;
	
	&.active {
		z-index: 0 !important;
		transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
	
	&.event-1 { transform: translate3d(0, calc(100vh - 10.5em), 0); }
	&.event-2 { transform: translate3d(0, calc(100vh - 5.25em), 0); }	
	&.event-1.active { transform: translate3d(0, 0, 0); }
	&.event-2.active { transform: translate3d(0, 0, 0); }

	.card {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		margin: (4em/16) (4em/16) 0 (4em/16);
		border-radius: (4em/16) (4em/16) 0 0;
		box-shadow: 0 0 (4em/16) (2em/16) fadeout(black, 75%);
		background-color: @bg;
		transform: translate3d(0, 0, 0);
	}

	&.active .card {
		height: 100%;
	}
}
