.card {
	header {
		position: relative;
		margin: 0 1em;
		padding-top: (12em/16);
		text-align: center;
		
		h1 {
			margin-bottom: .5em;
			font-size: 1em;
			font-weight: 400;
			line-height: 1;
		}
		
		p {
			color: @text-sub;
			font-size: (12em/16);
			line-height: (18/12);
		}
	}
	
	article {
		margin: 1em 1em (84em/16 + 1) 1em;
		
		h1 {
			font-size: (18em/16);
			line-height: 1.5;
		}
		
		p {
			margin-bottom: 1em;
			line-height: (26/16);
		}
	}
}