h1 如何在西方观察中国？<br><span class="subtitle">来自社科青年学者的思考</span>

section
	h3 五段不同的学术经历，带来的不仅仅是五种学术生涯的可能性
	p 学术是什么？什么是学术？
	p 在复旦兢兢业业学习的你，一定在某几个深夜里如此地追问。问题意识、研究范式，数据分析、田野调查，历史比较、政策研究……这些与社会科学难以割舍的词语，是每一个立志于学术的社科青年绕不开的话题。
	p 做学术，是出国深造还是国内读研？这更是每一个学术青年必须要面临的现实问题。2011 年，「政见 CNPolitics」成立，立志于「靠谱地谈论中国」。2015 年，政见携手五位社科青年学者一同来到上海，来到复旦。
	p 在国外做学术是怎样一种体验？五位社会科学青年学者，不同的海外学习经历，迥异的专业学术背景，带来对于社会科学不同视角的考量。15 分钟演讲，5 分钟提问。五位讲者带来 100 分钟的头脑风暴，与我们一起交流：在西方语境下，我们如何学术地讨论中国？

section
	h3 从当记者到做学术
	.speaker
		img(src="assets/avatar-fang-kecheng.jpg")
		p 方可成
		p.bio 宾夕法尼亚大学传播学博士生，原《南方周末》记者，政见团队发起人
	p 在《南方周末》报社做了三年记者后，我告别了媒体圈，进入学术界。两年过去，博士生涯依然还有大半的路程在前方。不过，此时回看当初的选择，对比两种人生路径的异同，多少有所感触，可以与尚在选择道路的朋友们分享。

section
	h3 社科专业本科学术控的自我修养
	.speaker
		img(src="assets/avatar-zhang-yueran.jpg")
		p 张跃然
		p.bio 哈佛大学社会学系准博士生
	p 从问题意识的形成和研究能力的培养两方面，分享在本科阶段学术探索的经历和感悟。

section
	h3 本土博士如何在英文刊物上发表文章？
	.speaker
		img(src="assets/avatar-yang-mingyu.jpg")
		p 杨鸣宇
		p.bio 北京大学政府管理学院在读博士。研究兴趣：官民冲突解决和中国的威权韧性
	p 随着国内社会科学研究水平的提高，和整体竞争的加剧。本土社科博士更多地在英文期刊上发表研究可以说是大势所趋。作为过来人，希望能够分享一点自己的相关经验。使学弟学妹可以多一点信息，少一些困惑，更顺利的发表自己的研究。

section
	h3 研究社会科学需要多少数学基础？
	.speaker
		img(src="assets/avatar-wang-ye.jpg")
		p 王也
		p.bio 复旦大学数学学士，北京大学中国经济研究中心硕士，纽约大学政治学系博士生
	p 成为一个合格的社会科学研究者需要多少数学基础？理工科背景如何培养社科研究的感觉？复旦学长跟你分享他的人生经验。

section
	h3 从智库到大学<br><span class="subtitle">我为何最终选择了学术道路</span>
	.speaker
		img(src="assets/avatar-liu-hanzhang.jpg")
		p 刘含章
		p.bio 哥伦比亚大学政治学系博士候选人。研究兴趣：威权的制度设计和公民政治行为
	p 美国智库如何运转？年轻本科生或硕士生在智库的职业发展道路究竟是怎样的？本科时我对政策研究充满理想与热情，在华府智库的实习经历却最终把我引向学术研究的道路。希望与大家分享这当中的对比和感悟。

footer
	h5 时间
	p <time datetime="2015-06-18 15:00">6 月 18 日 15:00</time> 起

	h5 地点
	p 上海市杨浦区邯郸路 220 号<br>复旦大学文科楼 826 模拟辩论厅
	
	h5 报名方式
	p 复旦学生可直接前往，校外人士请发邮件报名，注明姓名、单位（学校）、职务，收到确认后再前往参加：<br><a href="mailto:18817301936@163.com">18817301936@163.com</a>

	h5 友情提醒
	p 因场地大小限制，建议校外人士参加 6 月 19 日的活动
	
	h5 联合承办
	include qrcode-yinqin.jade
	p 复旦大学新闻学院「引擎」团队
	p 复旦大学社政学院社会学社

	h5 支持
	p 志德书院
