h1 西方看待中国政治的洞见和偏见<br><span class="subtitle">青年社科学者对谈</span></h1>

section
	p 西方如何看待中国？自从国门被洋人的坚船利炮打开之日起，这个问题激起了一代又一代中国人前赴后继的求索努力。
	p 一百多年后的今天，我们是否能破除「帝国主义亡我之心不死」或是「我们自己百事不如人」的迷思，靠谱地理解西方看待中国的视角和逻辑？
	p 我们是否能看清，在这些视角和逻辑背后，体现着西方社会生态的哪些深层意涵？


section
	h3 游走于中西之间，如何靠谱地谈论中国？
	p 这个夏天，来自政见团队的六位青年社科学者齐聚上海，畅论西方知识界看待中国政治的种种洞见和偏见——
	ul
		li 西方意识形态光谱下的「左」与「右」在解读中国现实时有何抵牾？
		li 中国媒体在西方学者和同行眼中是什么形象？
		li 西方社会科学的比较视野，在谈论中国时拥有怎样的优势、又面临何种挑战？
		li 「政治正确」会决定西方学者看待中国的角度吗？
		p …………
	p 这些零散又相互关联的问题，构成了西方看待中国政治的种种面向。更重要的是，在西方的一面面镜子前，我们如何反思自身？6 月 19 日，来围观政见成员分享他们的见闻和感悟。


section
	h3 对谈嘉宾
	.speaker
		img(src="assets/avatar-fang-kecheng.jpg")
		p 方可成
		p.bio 宾夕法尼亚大学传播学博士生，原《南方周末》记者，政见团队发起人
	
	.speaker
		img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+PTpE0CAAQAFsALXeCy2FAAAAABJRU5ErkJggg==")
		p 刘含章
		p.bio 哥伦比亚大学政治学博士候选人
	
	.speaker
		img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+PTpE0CAAQAFsALXeCy2FAAAAABJRU5ErkJggg==")
		p 杨鸣宇
		p.bio 北京大学政府管理学院博士生
	
	.speaker
		img(src="assets/avatar-wang-ye.jpg")
		p 王也
		p.bio 复旦大学数学学士，北京大学中国经济研究中心硕士，纽约大学政治学博士生
	
	.speaker
		img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+PTpE0CAAQAFsALXeCy2FAAAAABJRU5ErkJggg==")
		p 林知阳
		p.bio 香港大学社会学硕士，哥伦比亚大学公共政策与新闻传播硕士生
	
	.speaker
		img(src="assets/avatar-zhang-yueran.jpg")
		p 张跃然
		p.bio 哈佛大学社会学博士生

footer
	h5 时间
	p <time datetime="2015-06-19 14:00">6 月 18 日 14:00</time></time> 至 <time datetime="2015-06-19 16:00">16:00</time>

	h5 地点
	p 上海市浦东新区长柳路 58 号<br>证大立方大厦21楼
	
	h5 报名方式
	p 向政见微信公众号发送<br>「报名 19 日活动 + 人数」，即可报名

	h5 友情提醒
	p 由于场地原因，建议穿着长裤
	
	h5 协办
	p 《历史学人》杂志
